.category-btn {
  color: white;
  border: none;
  outline: none;
  background: #000;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 22px;
  cursor: pointer;
  margin: 5px 0 5px 0;
}
.category-icon {
  color: red;
  margin-right: 15px;

}
.category-btn:hover {
  background-color: #fc1503 !important;
  color: #fff;
}
.category-btn:hover .category-icon {
  color: #fff;
}
